<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
</head>
<body>
  <h2>Quiz: El juego de las preguntas</h2>
  <%= respuesta %>
  <a href="/quizes/question">Seguir jugando</a>
</body>
</html>
