
<form action="/quizes/answer" method="get">
  Pregunta: <%- pregunta %> <p>
    <textarea rows="4" cols="50" name="respuesta" autofocus>
    </textarea>
    <input type="submit" value="Enviar" />
  </form>
